<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca Virtual</title>
   
</head>

<body>
    <header class="header">
        <h1>Bienvenido a la Biblioteca Virtual</h1>
        <p>Descubre un mundo de conocimiento y lectura al alcance de tu mano.</p>
    </header>

    <div class="main-content">
        <h2>¿Qué ofrecemos?</h2>
        <p>En nuestra biblioteca virtual, encontrarás una amplia colección de libros y recursos en línea. Desde literatura clásica hasta los últimos bestsellers, ofrecemos una variedad de títulos para satisfacer todos los gustos y necesidades.</p>
        <p>Explora nuestras categorías y encuentra el libro perfecto para ti. Además, contamos con herramientas para ayudarte a gestionar tus lecturas y mantenerte al día con las últimas novedades.</p>
    </div>

    <footer class="footer">
        <p>&copy; 2024 Biblioteca Virtual. Todos los derechos reservados.</p>
    </footer>
</body>

</html>
